.encabecezado{
background-color: peru;
color: white;
text-align: center;
padding: 49px 0;
position: fixed;
width: 100%;
}
.caja1
{
	position: relative;
	left: 20px;
	top: 3px;

}
.caja2
{
	position: relative;
	left: 250px;
	top: 3px;
}
.caja3
{
	position: relative;
	top: 3px;
	left: 450px;
}
.caja4
{
	position: relative;
	left: 10px;
	top: 550px;
}
.caja5
{
	position: relative;
	left: 200px;
	top: 50px;
}
.caja6
{
	position: relative;
	left: 360px;
	top: 550px;

}
.contenedor
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	top:  150px;
}
